<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>
    <!--등록된 질문을 post 방식으로 처리-->
    <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
        <!--검증에 실패할 경우 오류 메세지를 출력-->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <!--오류 발생시 입력한 값 유지-->
            <input type="text" th:field="*{subject}" name="subject" id="subject" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <!--오류 발생시 입력한 값 유지-->
            <textarea name="content" th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>
