<!--layout파일에서 스타일링 하고 layout을 상속하여 사용한다-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<html layout:decorate="~{layout}">
<!--layout html 의 내용이 삽입-맵핑되는 부분-->
<div layout:fragment="content" class ="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="question, loop : ${paging}">
                <!--테이블 항목 번호 추가-->
                <td th:text="${loop.count}">
                </td>
                <!--문법 : 문자열에 자바객체를 더해줄때 파이프라인 키워드를 사용한다-->
                <!--서비스를 이용해 DB 에서 가져온 id 를 참조하고 해당 URL로 링크-->
                <td>
                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                </td>
                <td th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}">
                </td>
            </tr>
        </tbody>
    </table>
    <!--질문등록 버튼 구현 라우팅 될 URL 기입-->
    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</html>